$bodyColor:#f0f2f5;
body{
    background-color: $bodyColor;
}

.hidden{
    visibility: hidden;
}
.hide{
    display: none;
}
.show.dropdown>.dropdown-menu {
    left: auto;
    right: 0;
}
.dropdown:hover>.dropdown-menu {
    display: block;
    left: auto;
    right: 0;
}
.Profile{
    max-width: 300px;
    margin: auto;
    border-radius: 6px;
    background-color: white;
}
.Creator{
    margin-left: 10px;
    margin-right: 10px;
    & > div{
       padding: 10px 15px;
    }
    .Container{
        margin: 0 auto;
        text-align: center;
        border:1px dashed #f3f3f4;
        height: calc(100% - 50px);
    }
}